@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  background-color: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
  margin: 0;
  }
.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.main-header {
  width: 1060px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  color: black;
}
.navigation {
  display: flex;
}
.main-header-logo {
  width: 139px;
  height: 70px;
  margin-right: 47px;
}
.main-navigation {
  width: 345px;
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 299px;
}
.navigation-link {
font-size: 20px;
font-weight: 700;
line-height: 26px;
text-align: center;
text-decoration: none;
color: inherit;
}
.main-index {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.wellcome-image {
  width: 1200px;
  height: 485px;
  background-image: url(../img/divider.svg), url(../img/index-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  }
.wellcome-image img {
  display: block;
  margin: 0 auto;
  }
.advantages h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advantages p {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}
.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-picture-block-1 {
  display: flex;
  justify-content: space-between;
  background-color: #83B3D3;
  color: #FFF;
}
.advantages-picture-block-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #83B3D3;
  color: #FFF;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.description-number {
  text-transform: uppercase;
}
.advantages-description {
  padding: 0 90px;
}
.hotels h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.hotels p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.hotel-button {
  display: block;
  width: 575px;
  margin: 0 312px;
  border-radius: 10px;
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
}
.subscribe {
  background-image: url(../img/background-opacity.jpg);
  background-repeat: no-repeat;
  color: #FFF;
}
.subscribe h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.subscribe-form {
  display: flex;
  width: 800px;
  margin: 0 200px;
}
.subscribe-field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  background-color:#F2F2F2;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
.subscribe-button {
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
}
.main-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
}
.footer-social-list {
  width: 107px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}
.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.htmlacademy-link {
  width: 115px;
}



